PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=APGn6dEkAuRJNaSN9xQ1kerHjKr6igv6
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_CLOUD_NAME = 